@model Business.Models.Ingridients

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ingridients</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Product" class="control-label"></label>
                <select asp-for="Product" class ="form-control" asp-items="ViewBag.Product"></select>
            </div>
            <div class="form-group">
                <label asp-for="RawProduct" class="control-label"></label>
                <select asp-for="RawProduct" class ="form-control" asp-items="ViewBag.RawProduct"></select>
            </div>
            <div class="form-group">
                <label asp-for="Quntatity" class="control-label"></label>
                <input asp-for="Quntatity" class="form-control" />
                <span asp-validation-for="Quntatity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
