@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Course Work title "Automation of Сonfectionery Business" </h1>
        <p>  Web App Built with ASP.NET Core.</p>
        <h1 class="display-4">Completed by:</h1>
        <h1 class="display-4">          Cherikbaev Tilek Pi-Engl-1-17  </h1>
    </div>
