@model Business.Models.Vyplata

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vyplata</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Srok" class="control-label"></label>
                <input asp-for="Srok" class="form-control" />
                <span asp-validation-for="Srok" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oplachivaetsya" class="control-label"></label>
                <input asp-for="Oplachivaetsya" class="form-control" />
                <span asp-validation-for="Oplachivaetsya" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Sum" class="control-label"></label>
                <input asp-for="Sum" class="form-control" />
                <span asp-validation-for="Sum" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Procent" class="control-label"></label>
                <input asp-for="Procent" class="form-control" />
                <span asp-validation-for="Procent" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Procts" class="control-label"></label>
                <input asp-for="Procts" class="form-control" />
                <span asp-validation-for="Procts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Penya" class="control-label"></label>
                <input asp-for="Penya" class="form-control" />
                <span asp-validation-for="Penya" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ostatok" class="control-label"></label>
                <input asp-for="Ostatok" class="form-control" />
                <span asp-validation-for="Ostatok" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
