@model Business.Models.Bank

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bank</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Sum" class="control-label"></label>
                <input asp-for="Sum" class="form-control" />
                <span asp-validation-for="Sum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SrokInMonths" class="control-label"></label>
                <input asp-for="SrokInMonths" class="form-control" />
                <span asp-validation-for="SrokInMonths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcentPenya" class="control-label"></label>
                <input asp-for="ProcentPenya" class="form-control" />
                <span asp-validation-for="ProcentPenya" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ostatok" class="control-label"></label>
                <input asp-for="Ostatok" class="form-control" />
                <span asp-validation-for="Ostatok" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
